/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styling */
body {
	text-align: center;
	margin: 20px auto;
}
.hr {
	border-top: 1px solid rgba(0, 0, 0, 0.010);
	width: 35%;
	margin: 20px auto;
}
.heading {
	font-size: xxx-large;
	text-align: center;
	text-transform: capitalize;
	margin: 20px;
}
h2 {
	font-size: large;
	margin: 10px;
}
.square {
	text-align: center;
	width: 120px;
	height: 120px;
	background-color: #93c3d9;
	box-shadow:0 0 0 8px inset #496e91;
	border: 2px solid;
	margin: 20px auto;
	outline: 20px solid #ed7f80;
}
.info {
	display: inline-flex;
	padding: 10px;
	margin: 10px auto 30px auto;
	/* display: inline-block; */
	/* padding-right: 10px; */
}
.content{
	background-color: #93c3d9;
	width: 10px;
	height: 10px;
	/* padding: 2px; */
	border-radius: 50%;
	margin: 2px 5px;
}
.padding{
	background-color:  #496e91;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 2px 5px;
}
.border {
	background-color: black;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 2px 5px;
}
.margin{
	background-color:  #ed7f80;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 2px 5px;
}
.no-border {
	width: 600px;
	height: auto;
	border: 1px solid;
	margin: 20px;
	display: inline-flex;
}
.no-border div{
	width: 180px;
	height: 100px;
	background-color: grey;
	margin: 10px;
	display: inline-flex;
}
.px-border {
	width: 600px;
	height: auto;
	border: 1px solid;
	margin: 20px auto;
	text-align: left;
}
.px-border div{
	width: 180px;
	height: 100px;
	background-color: grey;
	border: 1px solid black;
	margin: 10px;
	display: inline-block;
}
.same-line {
	width: 600px;
	height: auto;
	border: 1px solid;
	margin: 20px;
	display: inline-flex;
}
.same-line div{
	width: 180px;
	height: 100px;
	background-color: grey;
	border: 1px solid black;
	margin: 10px;
	display: inline-flex;
}