/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styling */

body {
    background-color:aliceblue;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
/* container */
.container {
    max-width: 1000px;
    width: 60%;
    margin: 32px auto;
    padding: 0 32px;
    background-color: #ffff;
}
/* clearfix */
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
/* header */
header {
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    padding: 30px;
}
.subtitle {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
}
.left {
    float: left;
}

.aside {
    width: 20%;
    text-transform: capitalize;
    padding-top: 50px;
}
.article {
    width: 50%;
    margin:0 2%;
}
.article-img {
    width: 100%;
}
.content p{
    padding: 10px 0;
}
.content .para3 {
    padding: 15px 30px;
}
