/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom style */
*,
*::before
*::after {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    font-size: 16px;
}
nav{
	display: inline-block;
}
h2{
	font-size: 40px;
	font-weight: 800;
}
h3{
	font-size: 32px;
	font-weight: 700;
}
.container {
    max-width: 1400px;
    margin: 0 40px;
    padding: 0 320px;
}
.flex {
	display: flex;
	justify-content: space-between;
}
.column{
	display: flex;
	flex-flow: column;
}
.justify-start{
	justify-content: flex-start;
}
.justify-center{
	justify-content: center;
}
.justify-around{
	justify-content: space-around;
}
.justify-evenly{
	justify-content: space-evenly;
}
.align-center{
	align-items: center;
}
/* header */
.header{
	background-color: #012d5b;
	color: white;
}
.header-container{
	max-width: 1800px;
    margin: 0 180px;
    padding: 10px;
}
.contact span{
	padding-right: 50px;
}
.header-nav a{
	color: white;
	padding-left: 20px;
}
/* hero */
.hero{
	text-transform: uppercase;
}
.section-header{
	padding-top: 40px;
}
.section1-nav {
	width: 50%;
}
.section1-nav a{
	text-decoration: none;
	color: #012d5b;;
}
.btn a{
	color: white;
	text-decoration: none;
}

.btn{
	background-color: #fd656b;
	padding: 10px 45px;
	border-radius: 4px;
}
.no-bc-btn a{
	color: #fd656b;
	text-decoration: none;
}
.no-bc-btn{
	border: 1px solid #fd656b;
	padding: 10px 45px;
	border-radius: 4px;
}
/* hero main */
.hero-main{
	background: url(../media/hero/h1_hero.jpg),50%,50%, no-repeat;
	height:100vh;
	background-size: cover;
}
.hero-content{
	width: 43%;
	height: 100%;
	padding-top: 250px;
}
.hero-content h1{
	color: #fd656b;
}
.hero-content p{
	font-size: 64px;
	font-weight: 800;
}
.hero-main-btn {
	margin-top: 30px;	
}
/* .section2 */
.section2{
	background-color: #f6f9fe;
}
.sec2-box{
	width: 30%;
	margin: 120px 0;
}
.box-img{
	position: absolute;
}
.box-article{
	position: relative;
	top: 260px;
}
.box3{
	background-color: #ffffff;
	width: 25%;
	padding: 20px;
	border: 4px solid #fd656b;
}
.hr{
	margin: 20px 0;
	width: 35%;
	border: 2px solid #fd656b;
}
.more{
	margin-top: 20px;
}
.box3 a{
	text-decoration: none;
	color: black;
}
/* section3 */
.sec3-padding{
	padding: 120px 0 200px 0;
}
.sec3-img img{
	position: absolute;
}
.sec3-article{
	padding: 70px;
	background-color: rgba(255, 255, 255, 0.856);
	width: 40%;
	position: relative;
	top: 120px;
	left:530px;
}
.sec3-article p{
	padding: 20px 0;
}
.sec3-article nav,.sec5-article nav{
	margin-top: 25px;
}
/* section4 */
.section4{
	margin-bottom: 140px;
}
.sec4-title{
	text-align: center;
}
.sec4-box{
	background-color:#fcfdff;
	width: 30%;
	margin: 70px 0;
}
.sec4-icon{
	font-size: 64px;
	text-align: center;
}
.sec4-box p{
	padding: 20px 0;
}
/* section5 */
.section5{
	background-color:#f8fafe;
}
.case-container{
	max-width: 2000px;
    margin: 0 auto;
    padding: 0 0 0 200px;
	height: 90vh; 		
}
.sec5-article{
	width: 35%;
}
.sec5-img{
	width: 60%;
	/* height: 100%; */
	flex-wrap: nowrap;
	overflow: hidden;
}

.sec5-img img{
	width: 42%;
	padding-right: 15px;
}
.sec5-btn{
	margin: 30px 0;
}
/* .section6 */
.section6{
	/* background-color:red; */
	height: 300px;
}
.sec6-img{
	padding-top: 80px;
}
.sec6-article{
	/* width: 60%; */
	padding: 150px 0;
}
.quotes{
	width: 60%;
	text-align: center;
}
.quotes p{
	font-size: 24px;
	font-weight: 700;
}
.star{
	padding: 10px 0;
}
.star i{
	color: rgba(255, 255, 0, 0.637);
}
.author{
	font-weight: 700;
}
.author span{
	font-weight: 400;
}

/* section7 */
.section7{
	height: 70vh;
	margin: 200px 0;
}
.section7 h2{
	padding-top: 200PX;
}
.sec7-img{
	margin-top: 70px ;
	width: 30%;
}
.sec7-article{
	text-transform: capitalize;
	width: 30%;
}
.colour-title{
	font-size: small;
	color:#fd656b ;
}
.sec7-article p{
	font-size: 24px;
	font-weight: 800;
	padding: 10px 0;
	line-height: 1.4;
}
.sec7-date{
	color:rgba(0, 0, 0, 0.363);
}
/* section8 call request */
.section8{
	background-color: #012d5b;
	height: 30vh;
	color: white;
	padding-top: 100px;
}
.sec8-article{
	width: 30%;
}
.sec8-input{
	width: 60%;
}
.sec8-col1 input{
	width: 45%;
	height: 40px;
	padding: 10px 0 10px 10px;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: #012d5b;
	border: 1px solid rgba(255, 255, 255, 0.185);
}
::placeholder{
	color:white;
	font-weight: 800;
}
.sec8-selection {
	width: 75%;
	padding: 20px 0 20px 10px;
	color: rgba(255, 255, 255, 0.521);
	border: 1px solid rgba(255, 255, 255, 0.185);
	background-color: #012d5b;
}
/* footer */
.footer-main{
	margin-top: 100px;
}
.footer-box1{
	width: 20%;
}
.footer-box1 p{
	padding: 25px 0;
}
.footer-nav i{
	padding-right: 10px;
}
.footer-title{
	color:#012d5b ;
	font-size: 24px;
	font-weight: 700;
}
.footer-list a{
	text-decoration: none;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.342);
}
.footer-color{
	color: #fd656b;
	font-weight: 700;
}
.footer-line{
	margin: 20px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}

/* sub page hero background */
.subpage-hero-main{
	height: 20vh;
	background: url(../media/hero/blog_hero.jpg),50%,50%,no-repeat;
}
.title-container{
	height: 100%;
}
.subpage-title{
	color: white;
	font-size: 32px;
	font-weight: 800;
	text-transform: capitalize;
}
/* Blog styling */
.blog-main{
	margin-top: 100px;
}
.blog-section{
	width: 60%;
}
.blog-article-box{
	padding: 40px 0;
	background-color: #fff;
}
.blog-date{
	padding: 5px;
	width: 52px;
	height: 52px;
	color: white;
	font-weight: 900;
	background-color:  #fd656b;
	position: relative;
	bottom: 45px;
	left: 40px;
}
.blog-monts{
	font-weight: 500;
}
.blog-article-info{
	padding-left: 30px;
}
.blog-article-info p{
	padding: 10px 0;
}
.blog-user, .blog-chat{
	margin-right: 25px ;
}
.blog-user i, .blog-chat i{
	padding:0 5px 0 10px;
}
.blog-chat{
	border-left: 2px solid;
}
/* blog-aside */
aside{
	width: 30%;
}
.blog-aside-box{
	background-color:#fffcfc;
	margin: 0 0 20px 0;
	padding:25px 15px;
}
.aside-search-key input{
	width: 75%;
	height: 30px;
	padding: 10px 0 10px 10px;
	background-color: #ffff;
	border: 1px solid rgba(0, 0, 0, 0.247);
}
.aside-search-key ::placeholder{
	color: rgba(0, 0, 0, 0.541);
}
.aside-search-key i{
	color: white;
	padding: 18px;
	background-color: #fd656b;
}
.aside-search-btn{
	margin: 10px 0;
}
.blog-aside-btn{
	width: 65%;
}
.aside-title{
	font-size: 32px;
	font-weight: 600;
}
.aside-category li{
	border-bottom: 2px solid rgba(0, 0, 0, 0.021);
	padding: 10px 0;
}
.aside-category-list{
	font-size: 16px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.719);
}
.recent-post-title{
	border-bottom: 2px solid rgba(0, 0, 0, 0.021);
	margin-bottom: 20px;
}
.blog-recent-post-box{
	width: 90%;
	margin: 20px 0;
}
.blog-recent-post-time{
	color: rgba(0, 0, 0, 0.466);
}
.aside-tag-list span{
	background-color: rgba(255, 255, 255, 0.815);
	padding: 5px 10px;
	color:rgba(0, 0, 0, 0.562);
	margin:10px 0;
}
.aside-tag-list{
	margin:10px 0;
}
.aside-search-key-email input{
	width: 94%;
}
.aside-subscribe-btn a{
	letter-spacing: 4px;
}
.blog-page-number{
	width: 24px;
	height: 24px;
	background-color: #fff;
	margin: 20px 5px;
	border: 1px solid rgba(0, 0, 0, 0.514);
}

/* Case Study */
.case-main{
	margin: 100px 0;
}
.case-col-box img{
	width: 95%;
}
.case-box-article{
	width: 75%;
	padding: 10px;
	position: relative;
	background-color: #fff;
	bottom: 114px;
	left: 0;
}
.case-article-title{
	font-size: 24px;
	font-weight:700;
}
.case-box-img3{
	height: 80%;
}
.case-box-img3 img{
	width: 100%;
	height: 100%;
}
/* contact style */
.connect-main{
	margin: 200px 0;
}
.connect-touch{
	margin: 50px 0;
}
.contact-input-box{
	width: 60%;
}
.contact-input-box ::placeholder{
	color: rgba(0, 0, 0, 0.26);
}
.contact-textarea-box textarea{
	width: 100%;
	padding-left: 10px;
}
.contact-name-box input{
	width: 45%;
	height: 40px;
	margin: 20px 0;
	padding-left: 10px;
}
.contact-subject-box input{
	width: 100%;
	height: 40px;
	padding-left: 10px;
}
.connect-aside{
	width: 18%;
}
.connect-aside-address{
	padding-bottom: 30px;
}
.connect-aside-icon {
	color: rgba(0, 0, 0, 0.514);
}
.connect-aside-heading{
	font-weight: 600;
}
