/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styling */
*,
*::before ,
*::after {
	box-sizing: border-box;
}
 
body {
    line-height: 1.5;
    background-color: aliceblue;
}
 /* clearfix */
 .clearfix::before , .clearfix::after {
     content: "";
     display: table;
 }
 .clearfix::after {
     clear: both;
 }
 /* header */
.header {
	background-color: aqua;
    line-height: 80px;
    height: 80px;
	position: fixed;
	left: 0;
	right: 0;
	max-width: 100%;
	/* z-index: 2; */
	/* vertical-align: middle; */
	/* display: inline-block; */
}
.logo {
    font-size: 45px;
	float: left;
    padding: 10px;
	position: fixed;
	left: 20px;
}
.nav {
	font-size: 20px;
	float: right;
	padding: 10px;
	position: fixed;
	right: 20px;
	/* vertical-align: middle; */
}
.nav a {
	text-decoration: none;
	text-transform: capitalize;
	padding: 5px;

}
.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 32px;
	/* background-color: antiquewhite; */
}
/* section */

img {
	width: 200px;
	height: 200px;

}
/* section 1 */
.section-1 {
	/* background-color: beige; */
	display: inline-block;
	padding-top: 100px;
	margin-bottom: 40px
}
.article-container {
	float: left;
	width: 40%;
}
.article-img {
	float: right;
	width: 40%;
}
.article-container h2 {
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
}
/* section 2 */
.section-2 {
	background-color: azure;
	margin-bottom: 40px;
}
.col {
	/* background-color: bisque; */
	float: left;
	width: 100%;
	padding: 19px 0;
}
.col-1 img {
	width: 30%;
	padding: 1.5%;
}
.col-2 img {
	width: 30%;
	padding: 1.5%;
}
.button {
	background-color: cornsilk;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	position: fixed;
	right: 20px;
	bottom: 30px;
	text-decoration: none;
}
.button a{
	text-decoration: none;
}
.footer {
	text-align: center;
	background-color: aqua;
	padding: 20px 0;
}
.footer a {
	text-decoration: none;
	text-transform: capitalize;
	padding: 10px;
}